<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel Battle</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body oncontextmenu="return false;">
    <div id="canvas-container">
        <canvas id="canvas"></canvas>
    </div>

    <div class="info-overlay" id="online-counter">
        Онлайн: <span>0</span>
    </div>
    
    <div class="info-overlay" id="coordinates">
        X: <span>0</span>, Y: <span>0</span>
    </div>

    <div class="ui-container">
        <div class="color-info">Цвета</div>
        <div class="color-palette">
            <div class="color-option" data-color="#000000" style="background-color: #000000;"></div>
            <div class="color-option" data-color="#808080" style="background-color: #808080;"></div>
            <div class="color-option" data-color="#A9A9A9" style="background-color: #A9A9A9;"></div>
            <div class="color-option" data-color="#A52A2A" style="background-color: #A52A2A;"></div>
            <div class="color-option" data-color="#C0C0C0" style="background-color: #C0C0C0;"></div>
            <div class="color-option" data-color="#800080" style="background-color: #800080;"></div>
            <div class="color-option" data-color="#008000" style="background-color: #008000;"></div>
            <div class="color-option" data-color="#0000FF" style="background-color: #0000FF;"></div>
            <div class="color-option" data-color="#FF0000" style="background-color: #FF0000;"></div>
            <div class="color-option" data-color="#6495ED" style="background-color: #6495ED;"></div>
            <div class="color-option" data-color="#FFA500" style="background-color: #FFA500;"></div>
            <div class="color-option" data-color="#FFFF00" style="background-color: #FFFF00;"></div>
            <div class="color-option" data-color="#00FFFF" style="background-color: #00FFFF;"></div>
            <div class="color-option" data-color="#FFB6C1" style="background-color: #FFB6C1;"></div>
            <div class="color-option" data-color="#FFC0CB" style="background-color: #FFC0CB;"></div>
            <div class="color-option" data-color="#90EE90" style="background-color: #90EE90;"></div>
            <div class="color-option" data-color="#D8BFD8" style="background-color: #D8BFD8;"></div>
            <div class="color-option" data-color="#ADD8E6" style="background-color: #ADD8E6;"></div>
            <div class="color-option" data-color="#FF69B4" style="background-color: #FF69B4;"></div>
            <div class="color-option" data-color="#FFFFFF" style="background-color: #FFFFFF;"></div>
        </div>      
        
        <div id="cooldown">Следующий пиксель через: 0 секунд.</div>
        
        <button id="confirm-pixel" style="display: none;">Подтвердить</button>
    </div>

    <script src="static/js/config.js"></script>
    <script src="static/js/canvas.js"></script>
    <script src="static/js/controls.js"></script>
    <script src="static/js/websocket.js"></script>
</body>
</html>