<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel Battle</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body oncontextmenu="return false;">
    <div id="canvas-container">
        <canvas id="canvas"></canvas>
    </div>

    <div class= "overlay-container">
        <div class="info-overlay" id="online-counter">
            Онлайн: <span>0</span>
        </div>
        <div class="info-overlay" id="coordinates">
            X: <span>0</span>, Y: <span>0</span>
        </div>
        <div class="info-overlay">
            https://t.me/alabugapixart
        </div>
    </div>
    
    <div class="ui-container">
        <div class="color-palette">
            {% for color in colors %}
                <div class="color-option" data-color={{color}} style="background-color: {{ color }} ; "></div>
            {% endfor %}
        </div>      
        
        <div id="cooldown">Следующий пиксель через: 0 секунд.</div>
        
        <button id="confirm-pixel">Подтвердить</button>
    </div>

    <script>
        const CONFIG = {
            CANVAS_WIDTH: {{ canvas_width }},
            CANVAS_HEIGHT: {{ canvas_height }},
            PIXEL_SIZE: {{ pixel_size }},
            COOLDOWN_TIME: {{ cooldown_time }},
            MIN_SCALE: 0.5,
            MAX_SCALE: 10,
            DEFAULT_COLOR: '#000000'};
    </script>

    <script src="static/js/canvas.js"></script>
    <script src="static/js/controls.js"></script>
    <script src="static/js/websocket.js"></script>
</body>
</html>